@import "colors.css";
@import "material-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
html {
     font-family: Inter, sans-serif; /* Default font */
}
html[lang="fa"],
html[lang="ar"] {
     font-family: Vazirmatn, sans-serif; /* Apply Vazirmatn for RTL languages */
}

:root {
     --font-family: "Vazirmatn", sans-serif;
     html,
     body,
     h1,
     h2,
     h3,
     h4,
     h5 {
          padding: 0;
          margin: 0;
     }
     body {
          width: 100%;
          margin: 0;
          padding: 0;
          /*    font-family: var(--font-family); */
          background-color: var(--background-color);
          transition: all 0.4s ease-in;
     }
}

p {
     margin: 0;
     padding: 0;
}
.material-icons {
     width: 24px;
}

button {
     cursor: pointer;
}

.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--light_bg-color);
     padding: 8px 24px;
}

.header-right {
     display: flex;
     align-items: center;
     gap: 0.5rem;
}
